{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Clientes Cadastrados</h2>

    <form method="get" style="margin-bottom:20px;">
        <input type="text" name="q" placeholder="🔍 Buscar cliente..." value="{{ request.GET.q }}">
        <button type="submit" class="btn-primary">Buscar</button>
    </form>

    <table class="tabela-clientes">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nascimento</th>
                <th>CPF</th>
                <th>Cargo</th>
                <th>Ingresso</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.data_nascimento }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.get_cargo_atual_display }}</td>
                <td>{{ cliente.data_ingresso_servico_publico }}</td>

                <td>
                    <a href="{% url 'clientes:editar' cliente.id %}">✏️</a>
                    <a href="{% url 'calculadora:calcular' cliente.id %}">🧮</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nenhum cliente encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}