<p align="center">
<strong>CONTRATO DE PRESTAÇÃO DE SERVIÇOS PREVIDENCIÁRIOS</strong>
</p>

<br/>

<p>
Pelo presente instrumento particular, de um lado GALLI E MOREIRA ASSESSORIA PREVIDENCIÁRIA, inscrita no CNPJ nº 47.172.618/0001-00, doravante denominada CONTRATADA.
</p>

<p>
E de outro lado {{ cliente.nome }}, CPF nº {{ cliente.cpf }}, profissão {{ cliente.cargo_atual|default:"" }}, residente em {{ cliente.endereco|default:"" }}{% if cliente.bairro %}, {{ cliente.bairro }}{% endif %}{% if cliente.cidade %}, {{ cliente.cidade }}{% endif %}{% if cliente.estado %}/{{ cliente.estado }}{% endif %}{% if cliente.cep %}, CEP {{ cliente.cep }}{% endif %}, denominado CONTRATANTE.
</p>

<p>
Têm entre si justo e contratado:
</p>

<br/>

<p><strong>CLÁUSULA 1 – DO OBJETO</strong></p>

<p>
Prestação de serviços de assessoria previdenciária visando obtenção de benefício junto ao RPPS.
</p>

<br/>

<p><strong>CLÁUSULA 2 – DOS HONORÁRIOS</strong></p>

<p>
02 salários do benefício concedido.
</p>

<p>
30% sobre valores atrasados.
</p>

<br/>

<p align="right">
Rio Claro/SP, {{ data_hoje }}
</p>

<br/><br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
Galli & Moreira Assessoria Previdenciária
</p>

<br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
{{ cliente.nome }}
</p>

<p align="center">
CPF nº {{ cliente.cpf }}
</p>