<p align="center">
<strong>DECLARAÇÃO DE HIPOSSUFICIÊNCIA</strong>
</p>

<br/><br/>

<p>
{{ cliente.nome }}, Brasileiro(a), {{ cliente.estado_civil|default:"" }}, {{ cliente.cargo_atual|default:"" }}, portador(a) da cédula de identidade RG nº {{ cliente.rg|default:"" }} e do CPF nº {{ cliente.cpf|default:"" }}, residente e domiciliado(a) na {{ cliente.endereco|default:"" }}{% if cliente.bairro %}, {{ cliente.bairro }}{% endif %}{% if cliente.cidade %}, {{ cliente.cidade }}{% endif %}{% if cliente.estado %}/{{ cliente.estado }}{% endif %}{% if cliente.cep %}, CEP {{ cliente.cep }}{% endif %}, DECLARO, para todos os fins de direito e sob as penas da lei, que não tenho condições de arcar com as despesas inerentes ao presente processo, sem prejuízo do meu sustento e de minha família, necessitando, portanto, da GRATUIDADE DA JUSTIÇA, nos termos do art. 98 e seguintes da Lei 13.105/2015 (Código de Processo Civil). Requeiro, ainda, que o benefício abranja a todos os atos do processo, inclusive despesas periciais e sucumbenciais.
</p>

<br/><br/>

<p>
Por ser expressão da verdade, assino e rogo a presente declaração, sob as penas da Lei.
</p>

<br/><br/><br/>

<p align="right">
Rio Claro/SP, {{ data_hoje }}
</p>

<br/><br/><br/><br/>

<p align="center">
________________________________________<br/>
</p>

<p align="center">
{{ cliente.nome }}
</p>
<br/>
<p align="center">
CPF nº {{ cliente.cpf }}
</p>