<p align="center">
<strong>DECLARAÇÃO DE HIPOSSUFICIÊNCIA</strong>
</p>

<br/>

<p>
{{ cliente.nome }}, Brasileiro(a), {{ cliente.estado_civil|default:"" }}, {{ cliente.profissao|default:"" }}, portador(a) do RG nº {{ cliente.rg|default:"" }} e CPF nº {{ cliente.cpf|default:"" }}, residente na {{ cliente.endereco|default:"" }}{% if cliente.bairro %}, {{ cliente.bairro }}{% endif %}{% if cliente.cidade %}, {{ cliente.cidade }}{% endif %}{% if cliente.estado %}/{{ cliente.estado }}{% endif %}{% if cliente.cep %}, CEP {{ cliente.cep }}{% endif %}, DECLARA não possuir condições financeiras para arcar com custas processuais.
</p>

<p>
Requer a concessão da gratuidade da justiça nos termos do art. 98 do CPC.
</p>

<br/>

<p align="right">
Rio Claro/SP, {{ data_hoje }}
</p>

<br/><br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
{{ cliente.nome }}
</p>

<p align="center">
CPF nº {{ cliente.cpf|default:"" }}
</p>