<p align="center">
<strong>CONTRATO DE PRESTAÇÃO DE SERVIÇOS – PLANEJAMENTO PREVIDENCIÁRIO</strong>
</p>

<br/>

<p>
Pelo presente instrumento particular, de um lado GALLI E MOREIRA ASSESSORIA PREVIDENCIÁRIA, inscrita no CNPJ nº 47.172.618/0001-00, doravante denominada CONTRATADA.
</p>

<p>
E de outro lado {{ cliente.nome }}, nacionalidade {{ cliente.nacionalidade|default:"" }}, estado civil {{ cliente.estado_civil|default:"" }}, profissão {{ cliente.cargo_atual|default:"" }}, portador(a) do RG nº {{ cliente.rg|default:"" }} e CPF nº {{ cliente.cpf|default:"" }}, residente à {{ cliente.endereco|default:"" }}{% if cliente.bairro %}, {{ cliente.bairro }}{% endif %}{% if cliente.cidade %}, {{ cliente.cidade }}{% endif %}{% if cliente.estado %}/{{ cliente.estado }}{% endif %}{% if cliente.cep %}, CEP {{ cliente.cep }}{% endif %}, denominado CONTRATANTE.
</p>

<p>
As partes resolvem celebrar o presente contrato de prestação de serviços de planejamento previdenciário.
</p>

<br/>

<p><strong>CLÁUSULA 1 – DO OBJETO</strong></p>

<p>
Prestação de serviços técnicos especializados de planejamento previdenciário no âmbito do RPPS.
</p>

<br/>

<p><strong>CLÁUSULA 2 – DOS HONORÁRIOS</strong></p>

<p>
Valor fixo para elaboração do planejamento previdenciário.
</p>

<br/>

<p align="right">
Rio Claro/SP, {{ data_hoje }}
</p>

<br/><br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
Galli & Moreira Assessoria Previdenciária
</p>

<br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
{{ cliente.nome }}
</p>

<p align="center">
CPF nº {{ cliente.cpf }}
</p>