<p align="center">
<strong>PROCURAÇÃO</strong>
</p>

<br/>

<p>
OUTORGANTE: {{ cliente.nome }}, nacionalidade {{ cliente.nacionalidade|default:"" }}, estado civil {{ cliente.estado_civil|default:"" }}, profissão {{ cliente.cargo_atual|default:"" }}, portador(a) do RG nº {{ cliente.rg|default:"" }} e CPF nº {{ cliente.cpf|default:"" }}, residente à {{ cliente.endereco|default:"" }}{% if cliente.bairro %}, {{ cliente.bairro }}{% endif %}{% if cliente.cidade %}, {{ cliente.cidade }}{% endif %}{% if cliente.estado %}/{{ cliente.estado }}{% endif %}{% if cliente.cep %}, CEP {{ cliente.cep }}{% endif %}.
</p>

<p>
OUTORGADO: GALLI E MOREIRA ASSESSORIA PREVIDENCIÁRIA, CNPJ nº 47.172.618/0001-00, com sede em Rio Claro/SP.
</p>

<p>
Pelo presente instrumento particular, o OUTORGANTE nomeia e constitui como seu bastante procurador o OUTORGADO, concedendo poderes para representá-lo perante órgãos públicos, especialmente junto ao RPPS, podendo requerer, protocolar, acompanhar processos administrativos, apresentar documentos e praticar todos os atos necessários.
</p>

<br/>

<p align="right">
Rio Claro/SP, {{ data_hoje }}
</p>

<br/><br/><br/>

<p align="center">
________________________________________
</p>

<p align="center">
{{ cliente.nome }}
</p>

<p align="center">
CPF nº {{ cliente.cpf }}
</p>