{% extends 'base.html' %}
{% block content %}

<h2>Selecionar Cliente para Cálculo</h2>

<ul class="clientes-lista">
    {% for cliente in clientes %}
        <li class="cliente-item">

            {{ cliente.nome }}

            <a href="{% url 'calculadora:calcular' cliente.id %}">
                🧮 Calcular
            </a>

        </li>
    {% endfor %}
</ul>

<style>

.clientes-lista {
    list-style: none;
    padding: 0;
}

.cliente-item {

    background: white;
    margin-bottom: 10px;
    padding: 15px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

</style>

{% endblock %}